<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->
    <context:property-placeholder location="classpath:application.properties" />
    <bean id="carObj" class="com.omarezzat.Car">
        <constructor-arg name="vehicleRepository" ref="vehicleRepository"/>
        <constructor-arg name="brand" value=""/>
        <property name="brand" value="BMW"/>
    </bean>

    <bean id="planeObj" class="com.omarezzat.Plane">
        <constructor-arg name="vehicleRepository" ref="vehicleRepository"/>
        <constructor-arg name="brand" value=""/>
        <property name="brand" value="EgyptAir"/>
    </bean>

    <bean id = "vehicleRepository" class="com.omarezzat.VehicleRepository">
        <constructor-arg index="0" value="${database.url}"/>
        <constructor-arg index="1" value="${database.user}"/>
        <constructor-arg index="2" value="${database.password}"/>
    </bean>

</beans>





