<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->

    <bean id="circleObj" class="com.omarezzat.Circle">
        <constructor-arg name="radius" value="3"/>
        <constructor-arg name="draw2d" ref="draw2dObj"/>
        <constructor-arg name="draw3d" ref="draw3dObj"/>

    </bean>
    <bean id="rectangleObj" class="com.omarezzat.Rectangle">
        <property name="length" value="5"/>
        <property name="width" value="10"/>
        <constructor-arg name="draw2d" ref="draw2dObj"/>
        <constructor-arg name="draw3d" ref="draw3dObj"/>
    </bean>
    <bean id = "draw2dObj" class="com.omarezzat.Draw2d"> </bean>
    <bean id = "draw3dObj" class="com.omarezzat.Draw3d"> </bean>

</beans>





